body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

header {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
}

.video {
  display: block;
    min-height: 100%;
    min-width: 100vw;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -5;
}

.header_title {
  margin: 35vh 0 0 15vw;
  color: #fff;
}

.header_title h1 {
  font-size: 3rem;
  font-weight: 700;
}

.header_bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.brief {
  text-align: center;
  width: 800px;
  margin: 0 auto;
  padding: 180px 0;
}

.brief_text {
  font-size: 2.5rem;
  font-weight: 900;
  color: #b3b3b3;
}

.brief_text-span {
  color: #5b5b5b;
}

.servicios {
  background-color: #e6e6e6;
}

.servicios_top {
  width: 100%;
}

.servicios_title {
  width: 100%;
  margin: 0;
  padding: 0;
}
