body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

.front_hero {
  height: 100vh;
  width: 100%;
  /* background: rgba(0, 0, 0, 0.5); */
  overflow: hidden;
  position: relative;
  background-image: url('../images/bkg-mobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* BACKGROUND IMAGES FOR TRANSITION FROM SECTION TO SECTION */

.waves_bkg {
  width: 100%;
}

/* VIDEO BACKGROUND FOR HEADER, DOESNT DISPLAY IN MOBILE VERSION */

.video {
    display: none;
    min-height: 100%;
    min-width: 100vw;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -5;
}

/* FRONT HEADER OF THE PAGE */

.header_title {
  margin: 35vh 0 0 5vw;
  color: #fff;
}

.header_title h1 {
  /* font-size: 2.4rem; */
  font-weight: 700;
}

.header_bottom {
  position: absolute;
  bottom: 0px;
}

/* BRIEF SECTION */

.brief {
  text-align: center;
  margin: 0 auto;
  padding: 100px 5vw;
}

.brief_text {
  font-size: 1.8rem;
  font-weight: 900;
  color: #b3b3b3;
}

.brief_text-span {
  color: #5b5b5b;
}

/* SERVICIOS SECTION */

.servicios {
  background-color: #e6e6e6;
}

.servicios_title {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* SERVICIOS FLEX CONTAINER BIG CATEGORIES */

.servicios_flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 40px 0;
}

/* SERVICIOS FLEX ITEMS */

.servicios_category {
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 10px 0;
  padding: 0 10%;
}

.reologia {
  background-image: url('../images/reologia-category.jpg');
}

.mecanicasuelos {
  background-image: url('../images/mecanicasuelos-category.jpg');
}

.medioambiente {
  background-image: url('../images/medioambiente-category.jpg');
}

.servicios_category_text {
  padding-top: 45%;
  height: 75%;
}

.servicios_category_text h3 {
  color: #fff;
  font-size: 2rem;
  margin: 10px 0px;
}

.category_underline {
  height: 2px;
  width: 40px;
  background-color: #fff;
}

.servicios_category_text p {
  color: #fff;
  font-size: 0.9rem;
}

.pruebas_link {
  border: solid 1px white;
  border-radius: 50px;
  padding: 4px 15px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  transition: 0.4s;
}

.pruebas_link:hover {
  background-color: #fff;
  color: #000;
}

/* SERVICIOS FLEX ITEMS SMALL */

.servicios_externos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 500px;
  margin: 10px 0;
  padding: 0 5%;
  text-align: center;
}

.asesorias {
  background-image: url('../images/asesorias.jpg');
}

.controles {
  background-image: url('../images/controles.jpg');
}

.calicatas {
  background-image: url('../images/calicatas.jpg');
}

.servicios_externos h3 {
  font-size: 1.5rem;
  margin: 5px;
  text-align: center;
}

.servicios_externos img {
  width: 50px;
  margin: 10px 0;
}

.servicios_externos_description {
  font-size: 0.8rem;
}

.servicios_bottom {
  position: relative;
  top: 4px;
}

/* SECTION NOSOTROS */

.nosotros {
  background-color: #1a1a1a;
  text-align: center;
}

.section_header {
  padding: 30px 10vw;
  text-align: center;
  color: #fff;
}

.section_title {
  font-size: 2.5rem;
  color: #fff;
}

.header_underline {
  background-color: #fff;
  height: 3px;
  width: 30px;
  margin: 0 auto;
}

.header_text {
  font-size: 0.8rem;
}

/* STAFF FLEX */

.staff_flex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0 10vw;
}

.staff_item {
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.staff_item_photo {
  width: 100%;
  transition: 0.4s;
}

.staff_item_photo-color {
  display: none;
}

.staff_item_photo-fade {
  opacity: 0;
}

.staff_info {
  margin: 15px 0;
  padding: 10px;
  border: solid 3px white;
}

.staff_name {
  color: #fff;
  font-size: 1.4rem;
  margin: 10px 0;
}

.staff_info_line {
  background-color: #fff;
  height: 3px;
  width: 30px;
  margin: 5px auto;
}

.staff_position {
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  margin: 10px 0;
}

.staff_email {
  color: #cba870;
  font-size: 0.9rem;
  display: block;
  margin: 5px 0;
}

.staff_linkedin {
  display: block;
  width: 35px;
  margin: 10px auto;
}

.staff_linkedin img {
  width: 100%;
}

  /* CLIENTES SECTION */

.clientes {
  background-color: #1a1a1a;
}

.clientes_flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.clientes_item {
  width: 35%;
  padding: 10px 5%;
}

/* BOTTOM BKG TRANSITION CLIENTS-CONTACT */

.clientes_bottom {
  position: relative;
  top: 4px;
}

/* CONTACT SECTION */

.contact {
  background-color: #efac5b;
}

/* CONTACT FLEX SECTION */

.contact_flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_item {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

/* CONTACT MAP */

.contact_location {
  padding: 0 10vw;
}

.contact_map {
  height: 300px;
}

/* CONTACT FORM */

.contact_form_section {
  padding: 0 10vw;
}

.contact_form_text {
  font-size: 0.8rem;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  color: gray;
  text-transform: uppercase;
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: none; /* Gray border */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #97bcd3;
  letter-spacing: 2px;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 50px;
  -moz-box-shadow: 2px 1px 5px rgb(0,0,0,0.5);
  -webkit-box-shadow: 2px 1px 5px rgb(0,0,0,0.5);
  box-shadow: 2px 1px 5px rgb(0,0,0,0.5);
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: rgb(94,188,184);
  -webkit-appearance: none;
}

/* FOOTER SECTION */

.footer {
  background-color: #1a1a1a;
  padding: 30px 10vw;
  text-align: center;
  color: #fff;
}

.footer_line {
  display: block;
  margin: 50px auto;
  height: 2px;
  width: 80px;
  background-color: #fff;
}

.footer_address {
  font-size: 0.9rem;
}

.footer_img_logo {
  width: 180px;
}

.footer_certification {
  font-style: italic;
  font-size: 0.9rem;
}

/* PRUEBAS PAGES */

.pruebas_main {
  padding-top: 100px;
}

.pruebas_bottom_img {
  width: 100%;
  position: absolute;
  bottom: -2px;
  left: 0;
}

.prueba_item {
  margin-bottom: 50px;
}

.prueba_item_header {
  background-color: #000;
  color: #fff;
  padding: 30px 8vw;
  margin-bottom: 3px;
}

.prueba_item_header_line {
  background-color: #fff;
  height: 3px;
  width: 30px;
  display: block;
}

.prueba_item_description {
  font-size: 0.8rem;
}

.prueba_item_list {
  font-size: 0.8rem;
}

.prueba_item_gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.prueba_img_wide {
  width: 100%;
  padding: 3px 0;
}

.prueba_img_tall {
  width: 100%;
  padding: 3px 0;
}


/* REOLOGIA PAGE */

.category_header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  padding: 35vh 10vw 0 10vw;
  color: #fff;
}

.reologia {
  background-image: url('../images/reologia-header-bkg-mobile.jpg');
}

.reologia_header_title {
  font-size: 3rem;
  margin: 2px 0;
}

.reologia_header_subtitle {
  margin: 10px 0 40px 0;
}

.reologia_header_link {
  text-transform: uppercase;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 50px;
  letter-spacing: 2px;
  font-size: 0.8rem;
  transition: 0.3s;
}

.reologia_header_link:hover {
  background-color: #fff;
  color: #000;
}

/* PAGINA MECANICA DE SUELOS */

.mecanica {
  background-image: url('../images/mecanica-header-bkg-mobile.jpg');
}

.mecanicasuelos_flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.mecanicasuelos_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* align-self: stretch; */
  text-align: center;
  width: 48%;
  background-color: #000;
  padding: 5%;
  color: #fff;
  margin: 2px;
  height: 180px;
  transition: 0.3s;
}

.mecanicasuelos_icon {
  width: 40px;
}

.mecanicasuelos_title {
  font-size: 0.9rem;
}
