.menu {
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 50;
  width: 300px;
  background-color: #fff;
  text-align: center;
  padding-top: 100px;
  transition: 0.5s;
  transform: translateX(-320px);
}

.menu-show {
  transform: translateX(0px);
}

.menu_logo {
  width: 200px;
}

.dsktp {
  display: none;
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70%;
}

.menu ul li {
  font-weight: 600;
  display: block;
  margin: 20px 0;
}

.menu ul li {
  font-size: 1.6rem;
}

.hamburger_div {
  position: fixed;
  display: block;
  left: 25px;
  top: 20px;
  z-index: 99;
  width: 29px;
  transition: 0.4s ease-in-out;
  text-align: right;
}

.hamburger_div-slide {
  left: 250px;
}

.menuicon {
  background-color: #fff;
  height: 3px;
  width: 100%;
  margin-bottom: 4px;
  transition: 0.3s;
  float: right;
}

.menuicon_first {
  transform: rotate(45deg) translateX(1px) translateY(-5px);
  transform-origin: top left;
}

.menuicon_second {
  opacity: 0;
}

.menuicon_third {
  transform: rotate(-45deg) translateX(1px) translateY(5px);
  transform-origin: bottom left;
}

.menuicon-black {
  background-color: #000;
}

.menuicon_white {
  background-color: #fff;
}

@media (min-width: 1000px) and (orientation: landscape) {

  .menu {
    position: fixed;
    top: 0;
    height: 100px;
    z-index: 50;
    padding: 0px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    transform: translateX(0px);
  }

  .menu_logo.dsktp {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 30px;
    top: 20px;
  }

  .menu_logo.mobile {
    display: none;
  }

  .menu ul {
    float: right;
    margin: 25px 3vw 0 0;
    display: inline-block;
    vertical-align: middle;
  }

  .menu ul li {
    font-size: 0.8rem;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    margin: 0 15px;
  }

  .menu ul li:hover {
    text-decoration: underline;
  }

  .hamburger_div {
    display: none;
  }

}
